    /* audio-trim-module.css */


.waveform-container { position: relative; width: 100%; height: 200px; background: #f3f3f3; border: 1px solid #000; }
        canvas, .dimmed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
        canvas { display: block; }
        .slider { width: 100%; }
        .dimmed { background: rgba(0, 0, 0, 0.5); }
        .loop-button.on { background-color: green; }
        .loop-button.off { background-color: red; }


        /* General slider style */
        
 .slider {
     /* Common slider styles */
     width: 20px;
     height: 20px;
     position: absolute;
     border-radius: 50%;
     cursor: pointer;
 }
        

.slider-track {
    /* Define track style */
    width: 100%;
    height: 10px;
    background-color: #ccc;
    position: relative;
}


#startSlider {
    background-color: blue;
    left: 0; /* Initial position */
}

#endSlider {
    background-color: red;
    right: 0; /* Initial position */
}
